@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

/* Core Styles */
body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  background: lightslategray;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}
/* card buttons: */

.btn {
  display: inline-block;
  background: cornsilk;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid goldenrod;
  margin: 0.5em 0;
}

/* card button hover effect: */
.btn:hover {
  background: #eaeaea;
  color: indigo;
}
/* MOBILE FIRST */
/* Top Header */

#top-header {
  position: relative;
  margin-inline: 1em;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px; /* sides were 1em */
  z-index: 1000;
}
/* When Small */

.site-nav {
  position: fixed; /* was absolute */
  top: 0;
  right: 0%;
  background: #333;
  /* visibility: hidden; */
  overflow: hidden;
  clip-path: circle(0px at top);
  transition: clip-path ease-in-out 300ms; /* was  */
}

/* main nav menu items */

.site-nav ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid #575766;
}

.site-nav li:last-child {
  border-bottom: none;
}

/* main nav menu items text */

.site-nav a {
  display: block;
  color: #ceb793;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 2em 4em;
}

/* main nav menu items hover effect: */
.site-nav a:hover,
.site-nav a:focus {
  color: blue;
  background: #ceb793;
}

/* building hamburger nav button with CSS */

.menu-toggle {
  padding: 1em;
  position: absolute;
  right: 1em;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  z-index: 2;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: transform 500ms ease-in-out;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* For when nav-open class has been applied: */

.nav-open .site-nav {
  position: fixed;
  height: auto;
  /* visibility: visible; */
  top: 0;
  right: 0;
  clip-path: circle(150% at top);
  transition: clip-path ease-in-out 700ms;
}

.nav-open .menu-toggle {
  position: fixed;
}

/* nav-open rotate feature */

.nav-open .hamburger {
  transform: rotate(45deg);
}

.nav-open .hamburger::before {
  opacity: 0;
}

.nav-open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

/* Header Showcase */

#showcase {
  min-height: 750px;
  color: goldenrod;
  background: #eaeaea;
  margin-bottom: 15px;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.2), -30px 0px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #eaeaea url("https://source.unsplash.com/oQdpelfogoo");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.2), -30px 0px 40px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 500px;
  z-index: 1;
}

#showcase .overlay {
  position: relative;
  top: 0px;
  width: 100%;
  height: 500px;
  background: #333;
  mix-blend-mode: overlay;
  z-index: 10;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap {
  padding: 0 1.5em;
}
.showcase-text {
  padding-top: 500px;
}

/* Section A */

#section-a {
  background: #eaeaea;
  color: #333;
  border: 2px solid #000;
  padding-bottom: 2em;
}

#section-a .content-wrap {
  padding: 0 15%;
}

#section-a .video-wrapper {
  padding-top: 2em;
  justify-content: center;
  width: 80%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.video-wrapper iframe {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 23%;
}

/* Section-B */

#section-b {
  padding: 2em 1em 1em;
}

#section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card {
  box-shadow: 30px 0 40px rgba(0, 0, 0, 0.2), -30px 0px 40px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 1.5em;
}

.card img {
  width: 100%;
}

/* Section C */
#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

#section-c ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Section D / Boxes */

#section-d .box {
  padding: 2em;
  background: cornsilk;
  color: #333;
}

#section-d .box:first-child {
  background: goldenrod;
  color: #fff;
}

/* Footer */
#main-footer {
  padding: 2em;
  background: #fff;
  color: #000;
  text-align: center;
}

/* Media Queries */

/* @media screen and (max-width: 700px) {
  #main-nav {
    display: none;
  }
} */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .menu-toggle {
    display: none;
  }

  /* When Big */

  .site-nav {
    display: flex;
    height: auto;
    position: relative;
    background: transparent;
    align-items: right;
    clip-path: initial;
  }

  /* main nav menu items */
  .site-nav ul {
    display: flex;
    flex-flow: row nowrap;
  }

  .site-nav ul {
    margin: 0;
    padding-right: 1em;
    border: none;
  }

  .site-nav li {
    display: inline-block;
    margin-left: 3em; /* was 40px */
    padding-top: 1.3em;
    border: none;
  }

  /* main nav menu items text */
  .site-nav a {
    padding: 0;
    color: #ceb793;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
  }

  /* main nav menu items hover effect: */
  .site-nav a:hover,
  .site-nav a:focus {
    color: blue;
    background: transparent;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box {
    grid-column: span 2;
  }

  #main-footer div {
    grid-column: span 2;
  }

  #section-b ul {
    display: flex;
    justify-content: space-around;
  }

  #section-b li {
    width: 31%;
  }
}
